@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* 
Dumbo (pink-ish orange) #E56A54
Mandy (pink) #EDA29F
Dusk (purple) #BFA5B8
Arizona *blue) #00AFD7
*/

* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}

.container-about {
	width: 100%;
	margin: 0 auto;
}

.weird {
	min-height: 100vh;
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px;
}

.clearfix::after,
section::after,
footer:after {
	content: '';
	display: block;
	clear: both;
}


/* column system
************************* */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.33rem;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}

[class^=col-]:first-child {
	margin-top: 0;
}


.col-1 { /*adjustment for when it's at phone size*/
	width: 50%;
	float: left;
	padding: .5em 0 1.5em 0;
}

@media(min-width: 45rem) { /*adjustment at full screen*/
	[class^=col-] {
		float: left;
		padding: 1.5em .5em 1.5em .5em;
		margin-top: 0;
		font-weight: 900;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.33rem;
		font-family: 'Raleway', sans-serif;
		text-decoration: none;
		color: #FFF;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	[class^=col-]:a {
		text-decoration: none;
		color: #FFF;
	}

	.col-3 {
		width: 50%;
		text-align: center;
	}

	.col-1 {
		width: 25%;
		padding-top: 3em;
		text-decoration: none;
	}
}


/* typography
************************* */

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
}

p {
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type {
	margin-bottom: 0;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}

.title span {
	font-weight: 300;
	display: block;
	font-size: .9em;
}

.title-cta {
	margin: 2em 0 .5em;
	color: white;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	color: #FFF;
}

.unstyled-list a { /*what makes the links in the "like
"/footer section white, and not the ugly purple hyperlink*/
	text-decoration: none;
	color: #FFF;
}

.unstyled-list a:hover, /*changes color of links when you hover over it*/
.unstyled-list a:focus {
	color: #EDA29F;
}


@media (min-width: 60rem) {
	p {
		font-size: 1.2rem;
		line-height: 1.6;
	}
	.title {
		font-size: 3.7rem;
	}
}

/* buttons */
.button {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 1.25rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-radius: 10px;
	border-style: solid;
	padding: .5em 1.75em;
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
}

.button-accent {
	color: #FFF;
	background: #00AFD7;
	border-color: #00AFD7;
}

.button-accent:hover,
.button-accent:focus {
	background: #FFF;
	color: #00AFD7;
	border-color: #FFF;
}

.button-dark {
	color: #FFF;
	background: #EDA29F;
	border-color: #EDA29F;
	font-size: 1.35rem; /*cant go smaller than this or else the button will be on the same line as what are you waiting for???*/
}

.button-dark:hover,
.button-dark:focus {
	background: #232323;
	color: #EDA29F;
	border-color: #FFF;
}

.button-portfolio {
	color: #00AFD7;
	border-color: #00AFD7;
}

.button-portfolio:hover,
.button-portfolio:focus {
	background: #00AFD7;
	color: #232323;
}

/* header
************************* */
header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 3em 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8rem;
	padding: .5em .5em .5em .5em;
	/*background: #EDA29F; /*makes clickable area larger*/
	color: #FFF;
}

nav a:hover, /*changes color of navigation when you hover over it*/
nav a:focus,
nav Link:hover,
nav Link:focus {
	color: #E56A54;
}

@media (min-width: 32rem) {
	nav a {
		font-size: 1.2rem;
	}
}


@media (min-width: 63rem) {
	.logo {
		float: left;
	}
	nav {
		float: right;
	}
}

/* home-hero
************************* */
.talking {
	background-image: url(../images/websiteHeader.jpg);
	background-size: cover;
	background-position: center;
	padding: 0;
}

.navi {
	display: inline-block;
	margin: 1em;
}

.logo {
	display: inline-block;
	margin: 1em 0em;
}

.home-hero {
	background-image: url(../images/backgroundwill.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
	color: #FFF;
}

@media (min-width: 60rem) {
	.home-hero {
		height: 100vh;
		padding-top: 35vh;
	}
	.talking {
		height: 40vh;
	}
}

/* home-hero
************************* */

.home-about-textbox { /*overall box adjustments*/
	background-color: #E56A54;
	padding: 4em;
	width: 100vw;
	margin-left: -2.2%;
	outline: 2px solid #FFF;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}

.home-about-textbox h1 { /*Just the word welcome*/
	color: #FFF;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #E56A54;
	padding: 0 .1em;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}

	.home-about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}
}

@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.home-about {
		background-image: url(../images/win.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding-bottom: 5em;
	}

	/* how to adjust where the box is as a whole when the screen is large
	*/
	.home-about-textbox {
		width: 40%;
		padding: 7em;
		outline-offset: -3.75em;
		margin-left: 3.5%;
		top: -5em; /*up and down of box*/
		text-align: left;
		box-shadow: 0 0 3em 0 rgba(0, 0, 0, .3);
	}


	.home-about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}
}

/* about me
************************* */

.about-me {
	background-color: #00AFD7;
}

.about-textbox {
	background-color: #232323;
	padding: 4em;
	width: 100vw;
	margin-left: -5%;
	outline: 2px solid #00AFD7;
	outline-offset: -2.5em;
	color: #FFF;
	position: relative;
}

.about-textbox h1 {
	color: #00AFD7;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .75em;
	background: #232323;
	padding: 0 .1em;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}

	.about-textbox h1 {
		top: .6em;
		padding: 0 .325em;
	}
}

@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.self-portrait {
		width: 50%;
		margin-right: -1.5%;

		float: right;
	}

	.about-textbox {
		width: 50%;
		padding: 7em;
		float: left;
		outline-offset: -3.75em;
		margin-left: -2.5%;
		top: -3em;
		text-align: left;
		box-shadow: 0 0 3em 0 rgba(0, 0, 0, .3);
	}


	.about-textbox h1 {
		top: .75em;
		left: 6rem;
		transform: translateX(0);
	}
}


/* contact form
************************* */
.button-contact {
	color: #232323;
	background: #00AFD7;
	border-color: #232323;
}

.button-contact:hover,
.button-contact:focus {
	background: #232323;
	color: #00AFD7;
}

form {
	margin: 0 auto;
	max-width: 420px;
}

input[type=text],input[type=email], select, textarea {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 1em 1em;
	box-sizing: border-box;
	margin-top: .5em;
	margin-bottom: 2em;
	resize: vertical;
}

/* portfolio
************************* */

.portfolio {
	margin: 1em 0 0;
}

.port-item {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.port-item Img {
	display: block;
}

.port-desc {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0, 0, 0, .6);
	padding: 1em;
	padding-bottom: 1em;
}

.port-desc p {
	margin: 1em;
}

@media (min-width: 37rem) {
	.port-item {
		width: 50%;
		float: left;
		overflow: hidden;
	}
}

@media (min-width: 60rem) {
	.port-item {
		width: 33.3333334%;
		overflow: hidden;
	}
	.port-desc {
		transform: translateY(150%);
	}

	.port-item:hover .port-desc {
		transform: translateY(0%);
	}
}

/* CTA
************************* */

.cta {
	background-color: #00AFD7;
	padding: 5em 0 0 0;
}


/* footer
************************* */

footer {
	background: #232323;
	color: #fff;
	text-align: left;
	padding: 2em 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: relative;
}

/* article
************************* */
.article-box {
	margin-bottom: 30px;
	border-bottom: 1px dotted #EDA29F;
	display: inline-block;
	width: 100%;
	transition: all 0.25s ease;
	box-shadow: inset 0 0 0 0 #232323;
}
.article-box:hover {
	cursor: pointer;
}
@media screen and (min-width: 960px) {
	.article-box:hover {
		box-shadow: inset 960px 0 0 0 #fff;
   }
}
.article-box .left {
	float: left;
	width: 150px;
	height: 150px;
	background-color: #00AFD7;
}
.article-box .right {
	margin-left: 150px;
	padding: 15px;
	color: #00AFD7;
	margin-top: -20px;
}
.article-box .right .date {
	margin-top: -15px;
	margin-bottom: 20px;
	font-size: 12px;
}
.article-box .right h3 {
	color: #00AFD7;
}

/* post
************************* */

.container-post .content {
	padding: 20px;
}
.container-post .content h1 {
	color: #00AFD7;
	margin-bottom: 30px;
	line-height: 50px;
}
.container-post .content h2 {
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 30px;
	color: #232323;
}
.container-post .content h3 {
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 25px;
	color: #EDA29F;
}
.container-post .content p {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 30px;
	text-align: justify;
}

.bottom-logo {
	text-align: left;
}

.just-happened {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
	padding: 1.3em 0;
}